<div class="container">
  <br/>
  <br/>
  <table class="table" style="text-align:left">
    <thead class="thead-dark">
    <tr>
      <th>Название задачи</th>
      <th>Категория</th>
      <th>Дата начала</th>
      <th>Дата окончания</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Пройти раздел "Базовый синтаксис"</td>
      <td>Angular</td>
      <td>14/07/2019</td>
      <td>15/07/2019</td>
    </tr>
    <tr>
      <td>Пройти раздел "Дериктивы и пайпы"</td>
      <td>Angular</td>
      <td>15/07/2019</td>
      <td>16/07/2019</td>
    </tr>
    <tr>
      <td>Пройти раздел "Внедрение зависимостей"</td>
      <td>Angular</td>
      <td>16/07/2019</td>
      <td>17/07/2019</td>
    </tr>
    <tr>
      <td>Пройти раздел "Маршрутизация, модули"</td>
      <td>Angular</td>
      <td>17/07/2019</td>
      <td>18/07/2019</td>
    </tr>
    <tr>
      <td>Пройти раздел "Работа с формами"</td>
      <td>Angular</td>
      <td>18/07/2019</td>
      <td>19/07/2019</td>
    </tr>
    </tbody>
  </table>
</div>
