<div class="container-fluid">
  <br/>
  <br/>
  <app-statistic
    [tasksAll]="getTasksListSize()"
    [tasksPlanned]="getTasksAmountByStatus('Запланировано')"
    [tasksOverdue]="getTasksAmountByStatus('Просрочено')"
    [tasksFinished]="getTasksAmountByStatus('Выполнено')"
  >
  </app-statistic>
  <br/>
  <div class="row">
    <div class="col-md-6 col-lg-3 col-xl-3"></div>
    <div class="col-md-6 col-lg-3 col-xl-3"></div>
    <div class="col-md-6 col-lg-3 col-xl-3">
      <p>Показывать завершенные задачи</p>
      <input type="checkbox" (change)="filterTasks($event)">
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3">
      <app-task-add (addTaskEmitter)="addTaskToArray($event)"></app-task-add>
    </div>
  </div>
  <br/>
  <br/>

  <div class="container-fluid">
    <div class="row divTableHead" style="text-align:left">
      <div class="col-md-5 col-lg-5 col-xs-5">Название задачи</div>
      <div class="col-md-2 col-lg-2 col-xs-2">Категория</div>
      <div class="col-md-1 col-lg-1 col-xs-1">Дата начала</div>
      <div class="col-md-1 col-lg-1 col-xs-1">Дата окончания</div>
      <div class="col-md-2 col-lg-2 col-xs-2">Статус</div>
      <div class="col-md-1 col-lg-1 col-xs-1"></div>
    </div>
    <ng-container *ngFor="let task of tasks">
      <app-list-row *ngIf="((!finished && task.status !== 'Выполнено') || (finished))"
                    [name]="task.name"
                    [category]="task.category"
                    [dateStart]="task.dateStart"
                    [dateEnd]="task.dateEnd"
                    [status]="task.status"
                    (deleteTaskEmitter)="deleteTaskFromArray($event)"
      ></app-list-row>
    </ng-container>
  </div>
</div>
