.divTableRow {
  color: #212529;
  background-color: white;
  text-align: left;
  border-bottom: darkgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.tasksOverdue {
  background-color: red;
}
