<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12">
    <h2 class="text-dark font-weight-bold">Список задач</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-3 col-xl-3 text-dark font-weight-bold">Всего задач: {{ tasksAll }}</div>
  <div class="col-md-6 col-lg-3 col-xl-3 text-dark font-weight-bold">Запланировано: {{ tasksPlanned }}</div>
  <div class="col-md-6 col-lg-3 col-xl-3 text-dark font-weight-bold">Просрочено: {{ tasksOverdue }}</div>
  <div class="col-md-6 col-lg-3 col-xl-3 text-dark font-weight-bold">Завершено: {{ tasksFinished }}</div>
</div>
